<h1>New Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <p>Make a new wiki</p>
      <ul>
        <li>placeholder instruction 1.</li>
        <li>placeholder instruction 2.</li>
        <li>placeholder instruction 3.</li>
      </ul>

  <% unless policy(Wiki.new).premium? %>
    <%= link_to "Upgrade to a premium account", new_charge_path %>
  <% end %>
  </div>

<div class="col-md-8">


  <%= form_for @wiki do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', placeholder: "wiki title" %>
    </div>
    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "wiki body..." %>
    </div>
    <% if policy(Wiki.new).premium? %>
      <div class="form-group">
      <%= f.label :private %>
      <%= f.check_box :private, class: 'form-control' %>
      </div>
    <% else %>
      <%= link_to "Upgrade to a premium account?", new_charge_path %></br>
    <% end %>

    <%= f.submit "Save", class: 'btn btn-success' %>

  <% end %>
</div>
