<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "Blocipedia", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Wikis", wikis_path %></li>
        <% if logged_in? %>
          <li class="dropdown">
              <li><%= link_to (current_user.name || current_user.email), edit_user_registration_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>